/* Dropdown Button */
.dropbtn {
  font-family:"Iosevka";
  background-color: #046A7D74;
  color: white;
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
  border-width: 1px;
  /* border-color: #046A7D; */
}
.button {
  font-family:"Iosevka";
  background-color: #046A7D74;
  color: white;
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
  border-width: 1px;
  /* border-color: #046A7D; */
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #313131;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 1;
  border-radius: 10px;
}
body {
	font-family:"Iosevka";
	background-image: url('res/background.png');
	/* background-image: url('tpose.jpg'); */
	background-color: #222233;
	/* background-repeat: repeat; */
	background-size: large;
	text-align: center;

}
/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #3e4e81;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e4e81;}
.button:hover {background-color:#3e4e81}
.buttonGames:hover{
	border-color: green;
	border-width: 5px;
}
.Heading {
	font-size: 400%;
	color: #F7489D;
}
.brainText{
  background-color: #33221122;
  font-size:large;
  color: #F39AF7;
}
.brainTextL{
  font-size:large;
  color: #F39AF7;
}
.brainTextL:link{
  color:#EF48F7;
  text-decoration: none;
}
.brainTextL:visited{
  color:#F39AF7;
}
.brainTextL:hover{
  color:#F7489D;
}
.brainHeading{
  	font-size: 400%;
    color: #FA625E;
}
.brainHeading2{
    font-size:large;

}
.TextNorm{
	font-size: large;
	color:#CCCCCCFF;
	margin:auto;
   text-align:center;
	justify-content: center;
   word-wrap: break-word;
   width: 75%;
   
}
 .row {
  display: flex;
  flex-wrap:nowrap;
  flex: 50%;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 40px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  padding: 0 40px;
}
